body{
    width: 1920px;
}
.container_header p {
    margin: 0;
    color: white;
    font-size: 24px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
}


.container_header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 27px 0 27px 316px;
    margin: 0;
    background-color: #1B1B1B;
    
    

}

.container_header a {
    padding: 0 0 0 25px;
    margin: 0; 
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
    
    

}

.header_links {
    padding: 0 0 0 298px;
}

.button_feedback {
    padding: 8px 24px;
    border-radius: 25px;
    background-color: #ffffff00;
    border: 2px solid #F86064;
    color: #F86064;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

.container_header button {
    margin: 0 0 0 25px;
}

.container_banner img {
    position: relative;
}

.container_banner h1 {
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.container_banner p {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.btn-appeal {
    padding: 16px 28px;
    background-color: #F86064;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.container_elements {
    position: absolute;
    top: 0;
    bottom: 0;
}


